.title {
  font-family: FiraGO;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(52, 58, 64, 1);
}
.box {
  background-color: white;
  width: 550;
  height: 45;
  border-radius: 5px;
  margin-top: 6px;
  justify-content: space-between;
  border-width: 1px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(206, 212, 218, 1);
}
.box input {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  color: rgba(33, 37, 41, 1);
}

.rotated {
  rotate: 180deg;
}
.newDiv {
  width: 550px;
  border: 1px solid rgba(206, 212, 218, 1);
  border-top: none;
  position: relative;
  top: -4px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
}
.dropdownItem,
.selectedEmployee {
  display: flex;
  align-items: center;
  width: 550;
  height: 46;
  gap: 6px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 14px;
  color: rgba(13, 15, 16, 1);
  font-family: FiraGO;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.clicked {
  display: flex;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.clicked,
.newDiv {
  border-color: rgba(131, 56, 236, 1);
}
.small,
.small .box,
.small .newDiv {
  width: 384px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100;
}
.selectedEmployee {
  padding: 0;
}

.newDiv {
  position: absolute;
  top: 365px;
}
.selectedEmployee p {
  color: rgba(13, 15, 16, 1);
}
.emplo {
  z-index: 10;
}
.emplo .newDiv {
  max-height: 138px;
  overflow-y: scroll;
  overflow-x: hidden;
}
