@import "../../color.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 687px;
  border-radius: 10px;
  border: 0.5px solid $primaryColor;
  position: relative;
  max-height: 500px;
  box-sizing: border-box;
  padding: 40px 0 80px 31px;
  z-index: 999999;
}

.scrollableContent {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  max-height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: calc(100% - 31px);
  margin-right: 30px;
}

.button {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.component {
  display: flex;
  flex-direction: column;
  position: relative;
}

.component > div:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.iconWrapper {
  cursor: pointer;
}
