@import "../../color.scss";
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  background-color: $white;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}
