.container {
  max-width: 1680px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.cardz {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cardzs {
  display: flex;
  align-items: center;
  gap: 70px;
}
.cardzss {
  display: flex;
  align-items: center;
  gap: 120px;
}
.cards {
  width: 493px;
  height: 210px;
  position: relative;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.h1 {
  color: #212529;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
}
.h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
.h4 {
  padding-top: 63px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2a2a2a;
}
.p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 14px;
  margin-top: 50px;
}
.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}
.messages {
  width: 741px;
  min-height: 975px;
  margin-top: 99px;
  border-radius: 10px;
  border: 0.3px solid #ddd2ff;
  padding-left: 45px;
  background-color: #f8f3fea6;
  margin-bottom: 99px;
}
.input {
  margin-top: 20px;
  display: flex;
  width: 651px;
  height: 90px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 10px;

  resize: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}
.inputt {
  margin-top: 85px;
  display: flex;
  width: 651px;
  height: 90px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 10px;

  resize: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}
.button {
  margin-top: 85px;
  margin-right: 20px;
}
.relative {
  display: flex;
  width: 651px;
  height: 135px;
  margin-top: 40px;
  border-radius: 10px;
  border: 0.3px solid #adb5bd;
  background-color: #fff;
}
.message {
  display: flex;
  flex-direction: column;
  margin: 38px 45px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  margin: 38px 0px;
  letter-spacing: 0%;
}
.replyContainer {
  display: flex;
  align-items: center;
  text-align: center;
}
