.container {
  max-width: 1680px;
  margin: auto;
}




/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

/* Content Wrapper */
.contentWrapper {
  transition: filter 0.3s ease;
}

.contentWrapper.blurred {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  gap: 52px; /* Your original gap */
  padding-top: 24px;
}

.column {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 10px; /* Space between cards in a column */
}

.statusButton {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}

.yellow {
  background-color: #fff5d9; /* Light yellow */
  color: #e89c31; /* Darker yellow text */
}

.orange {
  background-color: #ffe8d9;
  color: #fd7a07;
}

.pink {
  background-color: #ffedf7;
  color: #e62e7b;
}

.blue {
  background-color: #e7f1fe;
  color: #0066ff;
}

.h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 40px;
  padding-bottom: 52px;
}

.Choices3 {
  padding-bottom: 25px;
}
